*~
.DS_Store
.idea
.vagrant

provisioning/packer/output*
provisioning/packer/packer*
provisioning/packer/*.box
provisioning/packer/$HOME
provisioning/packer/playbooks/*.retry

provisioning/playbooks/*.retry
