defaultEntryPoints = ["http"]
graceTimeOut = 10
logLevel = "DEBUG"
traefikLogsFile = "{{ traefik_log_file }}"
accessLogsFile = "{{ traefik_log_access_file }}"

[entryPoints]
  [entryPoints.http]
  address = ":80"

[web]
address = ":8080"

[consulCatalog]
endpoint = "consul.service.{{ consul_domain }}:{{ consul_ports.http }}"
domain = "{{ traefik_consul_domain }}"
watch = true
